{% extends "base.html" %}

{% block title %}
    About Us
{% endblock title %}


{% block sidenav %}
    {% for item in item_list %}
        <li style="padding-right: 10%;">
            <a href="{{ item.link  }}">{{ item.item }}</a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1>About Us</h1>
<h2>Members</h2>

  <h3>Danny Alvarez</h3>
  <p>Danny is a third-year computer science major.
    He is currently taking CS 3337-01 with Dr. Jiang Guo in the Fall 2022 semester.</p>

  <h3>Stellina Ao</h3>
  <p>Stellina is a third-year computer science major and biomedical engineering and math minor.
    She is currently taking CS 3337-01 with Dr. Jiang Guo in the Fall 2022 semester.</p>

  <h3>Deep Bhakta</h3>
  <p>Deep is a third-year computer science major.
    He is currently taking CS 3337-01 with Dr. Jiang Guo in the Fall 2022 semester.</p>

  <h3>Gregory Celestino</h3>
  <p>Gregory is a third-year computer science major.
    He is currently taking CS 3337-01 with Dr. Jiang Guo in the Fall 2022 semester.</p>

  <h3>John Chen</h3>
  <p>John is a third-year computer science major.
    He is currently taking CS 3337-01 with Dr. Jiang Guo in the Fall 2022 semester.</p>

  <h3>Lara de Jesus</h3>
  <p>Lara is a third-year computer science major.
    She is currently taking CS 3337-01 with Dr. Jiang Guo in the Fall 2022 semester.</p>

{% endblock content %}